<h2>Change HyperCX Password</h2>

<div class="row">
    <div class="col-sm-4">
<hr>
<form method="post" action="clientarea.php?action=productdetails">
    <input type="hidden" name="id" value="{$serviceid}" />
    Enter the new password<br>
    <input type="password" name="password1"><br>
    Confirm the new password<br>
    <input type="password" name="password2">
    <hr>
    <input type="hidden" name="id" value="{$serviceid}" />
    <input type="hidden" name="customAction" value="ChangePassword" />
    <button type="submit" class="btn btn-default btn-block">
        <i class="fa fa-arrow-circle-right"></i>
        Change Password
    </button>
</form>


        <form method="post" action="clientarea.php?action=productdetails">
            <input type="hidden" name="id" value="{$serviceid}" />
            <button type="submit" class="btn btn-default btn-block">
                <i class="fa fa-arrow-circle-left"></i>
                Back to Overview
            </button>
        </form>
    </div>
</div>
